
.top-menu-btn{height:32vw;margin:5vw 10vw;width:80vw
}
.top-menu-btn-icon{font-size:20vw;width:40%
}
.top-menu-btn-text{font-size:5vw;text-align:left;width:60%
}

.cart-btn[data-v-1a3c7b82]{font-size:4vw
}

.counter[data-v-7840fbc8]{padding-bottom:2px
}

.detail-container[data-v-00f3864c]{margin:5vw
}
.image-container[data-v-00f3864c]{text-align:center
}
.mainImage[data-v-00f3864c]{width:80vw
}
.price-container[data-v-00f3864c]{display:-webkit-box;display:-ms-flexbox;display:flex;text-align:center
}
.price-content[data-v-00f3864c]{width:50%
}
.cart-icon[data-v-00f3864c]{font-size:7vw;margin-right:3vw
}

.thumbnail-image[data-v-2b443562]{width:16vw
}
.cart-item-container[data-v-2b443562]{margin-left:4vw
}
